[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
django-cors-headers = "*"
django-elasticsearch-dsl = {editable = true, git = "https://github.com/django-es/django-elasticsearch-dsl.git"}
django-crontab = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
